.home{

     padding-left:70px; 
    color:rgb(6, 105, 162);
    font-size:30px;
    font-family:'Courier New', Courier, monospace ;
    margin-top: 1px;
    
}
.search {
    margin-left: 30px;
   position: absolute;
    margin-top: 1px;                                                                                                                            
   padding: 10px;
   border: none;
   background-color: rgb(205, 209, 212);
   outline: none;
  padding-left: 20px;
}
.posi{
    position: relative;
    margin-left:30px;
    margin-bottom:5px;
}

